#tanks-container {
  width: 65vw;
  margin: 0 auto;
  height: 100%;
}

#bottom-tanks {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  height: calc((750 / 1610 * 30vw));
  gap: 1em;
}

.tank {
  flex: 1;
  border: 2px solid green;
}
