.menu {
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  position: absolute;
  top: 4vw;
  bottom: 4vw;
}

.top-menu {
  position: absolute;
  right: 5vw;
  display: flex;
  gap: 1vw;
}

.left-menu {
  left: 0;

  .menu-btn:last-of-type {
    position: absolute;
    bottom: 1vw;
  }
}

.right-menu {
  right: 0;
}

.menu-btn {
  width: 5vw;
  height: 5vw;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 46%;

  &:hover {
    cursor: pointer;
    background-color: #fefb90;
  }
}

.top-menu > .menu-btn {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
}
