.big-tank-container {
  position: relative;
}

.big-tank {
  background-color: rgba(200, 200, 200, 0.2);
  width: 50vw;
  height: 30.5vw;
  position: absolute;
  left: 45%;
  transform: translateX(-50%);
  top: 2vw;
}

.small-tank-container {
  width: 60vw;
  height: 14.5vw;
  position: absolute;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1vw;
}

.tank {
  flex: 1;
  background-color: rgba(200, 200, 200, 0.2);
  transition: all .6s ease-in-out;
  position: relative;
}

.zoomTrigger {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #444;
  position: absolute;
  top: 1vw;
  right: 1vw;

  &:hover { cursor: pointer; }
}

.tank1ZoomedIn { transform: scale(2.5) translate(50%, -50%); }
.tank2ZoomedIn { transform: scale(2.5) translateY(-50%); }
.tank3ZoomedIn { transform: scale(2.5) translate(-50%, -50%); }

















